<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments :: head(titulo='Login')"></head>

  <body>
    <div
      class="container min-vh-100 d-flex flex-column justify-content-center align-items-center"
    >
      <div class="card rounded-4 p-4" style="width: 100%; max-width: 420px">
        <div class="text-center mb-4">
          <h2 class="fw-bold">Iniciar sesión</h2>
        </div>

        <form method="post" th:action="@{/login}" th:object="${loginData}">
          <div class="mb-3">
            <label for="eMail" class="form-label">Correo electrónico</label>
            <input
              id="eMail"
              class="form-control"
              name="eMail"
              placeholder="Correo electrónico"
              type="email"
              th:field="*{eMail}"
              required
            />
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input
              id="password"
              class="form-control"
              name="password"
              placeholder="Contraseña"
              type="password"
              th:field="*{password}"
              required
            />
          </div>

          <div class="d-grid mb-3">
            <button type="submit" class="btn btn-primary">Ingresar</button>
          </div>

          <div class="text-center">
            <a class="text-decoration-none" href="/registro"
              >¿No tienes cuenta? Regístrate</a
            >
          </div>

          <div class="text-center">
            <a class="text-decoration-none" href="/nosotros"
              >Acerca de nosotros</a
            >
          </div>
          <div
            th:if="${error != null}"
            class="alert alert-danger mt-3 text-center"
            th:text="${error}"
          ></div>
        </form>
      </div>
    </div>

    <div th:replace="fragments::javascript"></div>
  </body>
</html>
